* {
margin: 0px;
padding: 0px;
}
body {
	/*background: radial-gradient(#673AB7, #00968859);*/
	background: #a9a9a9;
}

.wrapper{
	/*outline: 10px solid #36ae87;*/
    outline-offset: -10px;
	height: 100vh;
	max-width:960px;
	margin:0px auto;
	position: relative;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: unset;
	background-repeat: no-repeat;
}

.innerWrapper{
	padding: 20px;
    position: relative;
}

.innerWrapper h2{
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
	left: -70px;
}

#fillTheBlank{
    text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
}


.logoWrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*margin-bottom:15px;*/
}

#completeTask p{}
#completeTask{
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	background: radial-gradient(#00994f,black);
	border-radius: 44px;
	position: absolute;
	padding: 20px 32px;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	border: 3px solid #fff;
	box-shadow: 0px 7px 9px #000;
	display: none;
}

.imageContainer .imageWrapper{
	    display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
}
.imageContainer{
display: grid;
grid-template-columns: 1fr auto;

}
.imageContainer .imgBox .colored{
display: none;
}
.imageContainer .imgBox p{
	font-size: 20px;
	font-family: sans-serif;
	text-shadow: 0px 0px 1px #706d6d;
	margin-bottom: 5px;
}
.imageContainer .imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
}
.imageContainer .imgBox img{width: 140px; cursor: pointer;}
.suggestionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.suggestionContainer .fillColor{
height: 50px;
width: 50px;
margin: 10px;
border-radius: 50%;
border: 3px solid #fff;
background-image: radial-gradient(transparent, #0404048a);
transition:all 0.5s;
cursor:pointer;
}

.shadow{
    box-shadow: 0px 10px 10px #000;
    transition:all 0.5s;
}
#red{background-color:red;}
#green{background-color:green;}
#yellow{background-color:yellow;}
#purple{background-color:purple;}

.navContainer button{
	background: radial-gradient(#3b8438, #050505);
	padding: 7px 15px;
	border-radius: 7px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: 1px;
	cursor:pointer;
	margin-right:15px;
	border: 1px solid #ddd;
     box-shadow: 0px 2px 4px #000;
     margin-bottom: 5px;
}
.navContainer{
	text-align: center;
	margin-top: 20px;
	margin-bottom:5px;
}

@media screen and (max-width: 500px) {
/*.dropSuggestions{flex-wrap:wrap;}*/
.logoWrapper img{width:100px;}
.logoWrapper h2{font-size:20px; left: -10px;}
.imageContainer .imgBox img{
	width:100px;
}
.suggestionContainer .fillColor{
height: 35px;
width: 35px;
border: 2px solid #fff;
}
#completeTask{
	font-size: 13px;
	bottom: 24%;
	left: 38%;
	transform: translateX(-31%);
	padding: 10px;
}

} 
/*  // media quesry end here...*/